pydantic
sqlalchemy
pandas
yfinance
fastapi
python-dotenv
curl_cffi
numpy
optuna
matplotlib
xgboost
scikit-learn
pyfiglet
termcolor
uvicorn
psycopg2
lxml
requests
yahoo_fin
requests-html
pytickersymbols
requests_html
yahoo_fin
pwdlib[argon2]
pyjwt
python-multipart